<div class="mt-6 lg:px-30">
    <div class="grid grid-cols-2 gap-6 px-5 m-w-full">
        <div class="bg-gray-200 flex flex-col items-center py-2 px-8">
            <p class="font-bold">
                About Me
            </p>
            <p class="font-normal">
                I obtained my BMus (Hons) Saxophone from Guildhall School of Music & Drama in 2012, 
                and alongside saxophone my studies included high-level tuition in flute, clarinet and piano.
                Whilst undertaking my studies, I began teaching woodwind and piano lessons, which I have continued to do ever since.
            </p>
            <p class="font-normal">
                Since graduating, I have performed professionally in London and across the UK, as well on board various cruise ships.
                I continue to perform regularly in all musical styles. I currently teach woodwinds and piano/keyboard in various schools 
                across Peterborough and Cambridgeshire, teach whole-class instrumental lessons for Peterborough City Council 
                (through Peterborough Music Hub), and am also the saxophone and clarinet tutor at Huntingdonshire Music School (HuMS).
                Additionally, I am the ensemble leader of the HuMS Jazz Ensemble, the City of Peterborough Youth Ensemble (CPYE) Senior Band, 
                and am a woodwind tutor for Peterborough Youth Orchestra (PYO). Alongside this, I teach a number of private
                pupils and am always delighted to take on new students, so please do get in touch to arrange a taster lesson.   
            </p>
        </div>
        <div class="bg-gray-200 flex flex-col items-center py-2 px-8">
            <p class="font-bold">
                Why Should You Learn With Me?
            </p>
            <p class="font-normal">
                I believe that, no matter your goal, learning an instrument should primarily be great fun. 
                Whether you want to pass grades, play in a band as a hobby or even become a professional musician, 
                my main aim is to ensure you enjoy yourself.
            </p>
            <p class="font-normal">
                I am happy and able to guide you through ABRSM graded exams should you wish to take them
                (though please note that I don’t consider this a necessity for all students.) Alongside graded pieces,
                I aim to give you well-rounded tuition in various styles of music and often use duets as a way of ensuring you
                become comfortable playing with others. For more advanced pupils (saxophone and flute), I can introduce you 
                to advanced repertoire and prepare you for music college entrance exams. I teach all ages and abilities, 
                and offer consultations with no obligation for future lessons - contact me for a chat and we’ll take it from there!
            </p>
        </div>
    </div>
</div>

<!--Other Information-->

<!--Consultation (taster) lesson offer - reduced rate of only £10 for 30 minutes-->
<!-- * subsequent lessons will be billed as per the rates above *-->

<!--Lessons are generally held at my home studio or online, though I may be able to -->
<!--travel to you in certain circumstances - please contact me to discuss. -->
<!--Please note that the prices shown above are based on lessons given at my home/online, and an additional -->
<!--charge may be added for lessons elsewhere.-->