<div style="width: 100%">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
        <div class="relative">
            <%= image_tag "rebecca.jpg", alt: "rebecca-photo" %>
            <div class="absolute md:hidden text-white text-bold text-right leading-tight" style="font-size: 12vw; bottom: 60%; left: 38%;">Hello. I'm<br>Rebecca.</div>
        </div>
        <div class="bg-gray-200 py-2 px-8">
            <h1 class="text-3xl bold hidden md:inline">Hello. I'm Rebecca Railton.</h1>
            <p class="text-base">
                I believe that, no matter your goal, learning an instrument should primarily be great fun. 
                Whether you want to pass grades, play in a band as a hobby or even become a professional musician, 
                my main aim is to ensure you enjoy yourself. I teach all ages and abilities, and offer consultations with 
                no obligation for future lessons - contact me for a chat and we’ll take it from there!
            </p>
            <p class="text-base">
                I obtained my BMus (Hons) Saxophone from Guildhall School of Music & Drama in 2012, 
                and alongside saxophone my studies included high-level tuition in flute, clarinet and piano. 
                Whilst undertaking my studies, I began teaching woodwind and piano lessons, which I have continued to do ever since.
            </p>
        </div>
    </div>
</div>
