<h1 class="text-2xl semibold">Hello. My name is Rebecca Railton.</h1>
<p>
    I obtained my BMus (Hons) Saxophone from Guildhall School of Music & Drama in 2012, 
    and alongside saxophone my studies included high-level tuition in flute, clarinet and piano. 
    Whilst undertaking my studies, I began teaching woodwind and piano lessons, which I have continued to do ever since.
</p>
<br>
<p>
    I believe that, no matter your goal, learning an instrument should primarily be great fun. 
    Whether you want to pass grades, play in a band as a hobby or even become a professional musician, 
    my main aim is to ensure you enjoy yourself.
</p>
<br>
<p>
    I teach all ages and abilities, and offer consultations with no obligation for future lessons - contact me for a chat and we’ll take it from there!
</p>