<%= month_calendar events: lessons do |date, lessons| %>
    <%= date %>
    <% lessons.each do |lesson| %>
        <div>
            <%= link_to readable_time(lesson.start_time), lesson, class: "link" %>
        </div>
    <% end %>
<% end %>