<div class="max-w-md my-10 m-auto p-12 md:p-16 bg-white rounder border border-gray-300 text-center shadow">
    <h1 class="text-blue-800 text-2xl mb-6">It looks like you haven't scheduled a lesson yet</h1>
    <%= link_to "Schedule a new lesson", new_lesson_path, class: "btn btn-primary py-3 px-5 mb-6" %>
    <%= image_tag "schedule.svg", alt: "schedule", width: 300, class: "mb-4" %>
</div>