<div class="max-w-lg m-auto px-4">
    <p class="mt-6 text-lg font-semibold text-indigo-600">Schedule a lesson</p1>
    <p class="text-lg text-blue-800 mb-6">Schedule a new lesson by picking a time that works for you using the form below.</p>
    <%= render 'form', lesson: @lesson %>
</div>
