@tailwind base;
@tailwind components;

/*! purgecss start ignore */
@import "components/buttons";
@import "components/forms";
@import "components/tabs";
/*! purgecss end ignore */

@tailwind utilities;

$orange: #b86e14; .orange { color: $orange; }

h1 {
    font-size: 30px;
}
p {
    padding-top: 7px;
}
svg {
    fill: $orange;
}
.nav {
    background-image: linear-gradient(90deg, #d7f1f4 0%, #eeddee 100%);
}
